@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 0.9375rem;
    background-color: var(--lightGray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
h1{
    font-weight: 700;
    color: var(--darkBlue);
}
p{
    margin-top: 1rem;
    color: var(--grayishBlue);
    font-weight: 400;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    background-color: white;
    max-width: 350px;
    border-radius: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.code-image{
    position: relative;
    border-radius: 3%;
    overflow: hidden;
}
.code-image img{
    display: block;
    width: 100%;
}
.content{
    margin: 1.7rem 1rem;
    text-align: center;
}